<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>订单</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/dingdan.css">
	</head>

	<body>
		<!--下拉刷新容器-->
		<div style="padding:0px 15px;background:#fff;position:fixed;z-index:10;right:0;left:0;">
			<div id="segmentedControl" class="mui-segmented-control">
				<a class="mui-control-item mui-active" id="btn" href="javascript:;" data="0,1,2,3,4">
					全部
				</a>
				<a class="mui-control-item" href="javascript:;" data="0,1">
					待收货
				</a>
				<a class="mui-control-item" href="javascript:;" data="2,4">
					已收货
				</a>
				<a class="mui-control-item" href="javascript:;" data="2">
					待评价
				</a>
				<a class="mui-control-item" href="javascript:;" data="3">
					申诉
				</a>
			</div>
		</div>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!--数据列表-->
				<ul class="mui-table-view mui-table-view-chevron">
					
				</ul>
			</div>
		</div>
		<script src="../js/jquery-1.12.2.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/public.js"></script>
		<script>
			
			var token = '716e029a-4449-4fce-8d3e-85d357685113';
			////////////////////////
				// function pulldownRefresh() {
				// 		setTimeout(function() {
				// 			var id = "0,1,2,3,4";
				// 			//
				// 			//plus.nativeUI.showWaiting('信息获取中...');
				// 			$.ajax({
				// 				type:"get",
				// 				url : apiRoot+"/order/oderAll.do?statusid="+id+"&token="+token,  
				// 				data : {
				// 					statusid : id,
				// 					token : token
				// 				},
				// 				dataType : 'json',
				// 				success : function(data){
				// 					//plus.nativeUI.closeWaiting();
				// 					console.log(apiRoot+"/order/oderAll.do?statusid="+id+"&token="+token);
				// 					//console.log(JSON.stringify(data));
				// 					console.log(data.data)
									 	
				// 					var table = document.body.querySelector('.mui-table-view');
				// 					var cells = document.body.querySelectorAll('.mui-table-view-cell');
				// 					for (var i = cells.length, len = i + 3; i < len; i++) {
				// 						var li = document.createElement('li');
				// 						li.className = 'mui-table-view-cell';
				// 						li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
				// 						//下拉刷新，新纪录插到最前面；
				// 						table.insertBefore(li, table.firstChild);
				// 					}

				// 					},
				// 					error : function(e){
				// 						//plus.nativeUI.closeWaiting();
				// 						console.log('111==='+JSON.stringify(e));  
				// 					}  
				// 				});

				// 			//
				// 			mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
				// 		}, 1500);
				// 	}
				// 	var count = 0;


				// 	function pullupRefresh() {
				// 		setTimeout(function() {
				// 			var id = "0,1,2,3,4";
				// 			mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
				// 			var table = document.body.querySelector('.mui-table-view');
				// 			var cells = document.body.querySelectorAll('.mui-table-view-cell');
				// 			//
				// 			//plus.nativeUI.showWaiting('信息获取中...');
				// 			$.ajax({
				// 				type:"get",
				// 				url : apiRoot+"/order/oderAll.do?statusid="+id+"&token="+token,  
				// 				data : {
				// 					statusid : id,
				// 					token : token
				// 				},
				// 				dataType : 'json',
				// 				success : function(data){
				// 					//plus.nativeUI.closeWaiting();
				// 					console.log(apiRoot+"/order/oderAll.do?statusid="+id+"&token="+token);
				// 					//console.log(JSON.stringify(data));
				// 					console.log(data.data)
				// 					var table = document.body.querySelector('.mui-table-view');
				// 					var cells = document.body.querySelectorAll('.mui-table-view-cell');
				// 					for (var i = cells.length, len = i + 3; i < len; i++) {
				// 						var li = document.createElement('li');
				// 						li.className = 'mui-table-view-cell';
				// 						li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
				// 						//下拉刷新，新纪录插到最前面；
				// 						table.insertBefore(li, table.firstChild);
				// 					}

				// 				},
				// 				error : function(e){
				// 					plus.nativeUI.closeWaiting();
				// 					console.log('111==='+JSON.stringify(e));  
				// 				}  
				// 			});

				// 			//
				// 			mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
				// 		}, 1500);
				// 	}
					/////////////////
			var btn = document.getElementById("btn");
			//监听点击事件
			btn.addEventListener("tap",function () {
			  console.log("tap event trigger");
			});
			//app推荐推荐

			window.addEventListener('#segmentedControl a',function(event){
				//选项卡点击事件
				var btn = document.getElementById("btn");
				//模拟首页点击
				mui.trigger(defaultTab, 'tap');
				var statusid = this.getAttribute("data");
			    	console.log(statusid+1111);

			});	

			//document.addEventListener('plusready',function(){
				mui('#segmentedControl').on('tap','a',function(){
					mui.init({
						pullRefresh: {
							container: '#pullrefresh',
							down: {
								callback: pulldownRefresh
							},
							up: {
								contentrefresh: '正在加载...',
								callback: pullupRefresh
							}
						}
					});
				    var statusid = this.getAttribute("data");
			    	console.log(statusid);
			    	/**
					 * 下拉刷新具体业务实现
					 */
					function pulldownRefresh() {
						setTimeout(function() {
							
							//
							//plus.nativeUI.showWaiting('信息获取中...');
							$.ajax({
								type:"get",
								url : apiRoot+"/order/oderAll.do?statusid="+statusid+"&token="+token,  
								data : {
									statusid : statusid,
									token : token
								},
								dataType : 'json',
								success : function(data){
									//plus.nativeUI.closeWaiting();
									console.log(apiRoot+"/order/oderAll.do?statusid="+statusid+"&token="+token);
									//console.log(JSON.stringify(data));
									console.log(data.data)
									var table = document.body.querySelector('.mui-table-view');
									var cells = document.body.querySelectorAll('.mui-table-view-cell');
									for (var i = cells.length, len = i + 3; i < len; i++) {
										var li = document.createElement('li');
										li.className = 'mui-table-view-cell';
										li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
										//下拉刷新，新纪录插到最前面；
										table.insertBefore(li, table.firstChild);
									}

								},
								error : function(e){
									plus.nativeUI.closeWaiting();
									console.log('111==='+JSON.stringify(e));  
								}  
							});

							//
							mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
						}, 1500);
					}
					var count = 0;
					/**
					 * 上拉加载具体业务实现
					 */
					function pullupRefresh() {
						setTimeout(function() {
							mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
							var table = document.body.querySelector('.mui-table-view');
							var cells = document.body.querySelectorAll('.mui-table-view-cell');
							//
							//plus.nativeUI.showWaiting('信息获取中...');
							$.ajax({
								type:"get",
								url : apiRoot+"/order/oderAll.do?statusid="+statusid+"&token="+token,  
								data : {
									statusid : statusid,
									token : token
								},
								dataType : 'json',
								success : function(data){
									//plus.nativeUI.closeWaiting();
									console.log(apiRoot+"/order/oderAll.do?statusid="+statusid+"&token="+token);
									//console.log(JSON.stringify(data));
									console.log(data.data)
									var table = document.body.querySelector('.mui-table-view');
									var cells = document.body.querySelectorAll('.mui-table-view-cell');
									for (var i = cells.length, len = i + 3; i < len; i++) {
										var li = document.createElement('li');
										li.className = 'mui-table-view-cell';
										li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
										//下拉刷新，新纪录插到最前面；
										table.insertBefore(li, table.firstChild);
									}

								},
								error : function(e){
									plus.nativeUI.closeWaiting();
									console.log('111==='+JSON.stringify(e));  
								}  
							});

							//
							mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
						}, 1500);
					}
				});
				
				if (mui.os.plus) {
					mui.plusReady(function() {
						setTimeout(function() {
							mui('#pullrefresh').pullRefresh().pullupLoading();
						}, 1000);

					});
				} else {
					mui.ready(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					});
				};
			//});	
		</script>
	</body>

</html>