<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>热门推荐</title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/swiper.min.css">
	<link rel="stylesheet" href="../css/choumei.min.css">
	
</head>
<body>
<div class="swiper-container swiper-container-horizontal" >
	
      <div id="hotimg" class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(32px, 0px, 0px);">
            <div class="swiper-slide swiper-slide-active" style="opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
            	<img src="http://www.swiper.com.cn/demo/choumei/images/shouye_nvsheng_washblow_one.png" class="main-img">
            	<p class="tent"><span>限量</span><span>￥<i>1222</i></span></p>
            </div>
            <div class="swiper-slide swiper-slide-next" style="opacity: 0.5; transform: translate3d(0px, 0px, -150px); transition-duration: 0ms;">
            	<img src="http://www.swiper.com.cn/demo/choumei/images/shouye_nvsheng_washcutblow_two.png" class="main-img">
            	<p class="tent"><span>限量</span><span>￥<i>2222</i></span></p>
            </div>
            <div class="swiper-slide" style="opacity: 0; transform: translate3d(0px, 0px, -300px); transition-duration: 0ms;">
            	<img src="http://www.swiper.com.cn/demo/choumei/images/shouye_nvsheng_hairperm_three.png" class="main-img">
            	<p class="tent"><span>限量</span><span>￥<i>3222</i></span></p>
           </div>
            <div class="swiper-slide" style="opacity: 0; transform: translate3d(0px, 0px, -450px); transition-duration: 0ms;">
            	<img src="http://www.swiper.com.cn/demo/choumei/images/shouye_nvsheng_hairdye_four.png" class="main-img">
            	<p class="tent"><span>限量</span><span>￥<i>4222</i></span></p>
            </div>
            <div class="swiper-slide" style="opacity: 0; transform: translate3d(0px, 0px, -600px); transition-duration: 0ms;">
            	<img src="http://www.swiper.com.cn/demo/choumei/images/shouye_nvsheng_haircare_five.png" class="main-img">
            	<p class="tent"><span>限量</span><span>￥<i>5222</i></span></p>
            </div>
            <div class="swiper-slide" style="opacity: 0; transform: translate3d(0px, 0px, -750px); transition-duration: 0ms;">
            	<img src="http://www.swiper.com.cn/demo/choumei/images/shouye_nvsheng_packeage_six.png" class="main-img">
            	<p class="tent"><span>限量</span><span>￥<i>6222</i></span></p>
            </div>
      </div>
</div>

<script src="../js/jquery-1.12.2.js"></script>
<script src="../js/swiper.min.js"></script>
<script src="../js/choumei.min.js"></script>
<script src="../js/public.js"></script>
<script src="../js/hot.js"></script>
</body>
</html>